/* src/app/component/cta-section/cta-section.component.css */
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    padding: 0 15px;
}

.cta-container {
    background: var(--button-color);
    color: var(--white-color);
    padding: 50px 40px;
    border-radius: 20px;
    text-align: center;
    /* margin: 0 30px 60px; */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* .cta-container::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -10px;
    background-color: #e4e7f5;
    border-radius: 20px;
    z-index: 0;
} */

.cta-title {
    font-size: 50px;
    /* Adjust size as needed (e.g., 28px) */
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 25px;
}

.cta-description {
    font-size: 0.95rem;
    line-height: 1.6;
    max-width: 750px;
    margin: 0 auto 2rem auto;
    opacity: 0.9;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

/* Common button styles */
.cta-buttons .btn {
    padding: 12px 28px;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.1s ease;
    text-decoration: none;
    display: inline-block;
}

.cta-buttons .btn:active {
    transform: translateY(1px);
}

/* Primary button ("Register") */
.cta-buttons .btn-primary {
    background-color: var(--button-hover);
    color: var(--button-color);
}

/* Secondary button ("Compare our offers") */
.cta-buttons .btn-secondary {
    background-color: transparent;
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

.cta-buttons .btn-secondary:hover {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
    color: var(--button-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .cta-container {
        padding: 40px 25px;
    }

    .cta-title {
        font-size: 40px;
    }

    .cta-description {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
    }

    .cta-buttons {
        gap: 0.8rem;
    }

    .cta-buttons .btn {
        padding: 10px 20px;
        font-size: 0.85rem;
    }
}

@media (max-width: 480px) {
    .cta-container {
        text-align: left;
    }

    .cta-buttons .btn {
        width: 100%;

    }

    .cta-title {
        font-size: 35px;
    }
}