<!-- src/app/component/cta-section/cta-section.component.html -->
<div class="cta-container container">
    <h2 class="cta-title">Take advantage of our 7 day free trial for private and business users</h2>
    <p class="cta-description">
        TransferNow is the ideal solution to send your files via email (or shareable link) and receive files of every
        size! Exchange documents while showcasing your brand image and make a great impression on your users!
    </p>
    <div class="cta-buttons">
        <button type="button" class="btn btn-primary cta-register-btn" routerLink="/register">Register</button>
        <button type="button" class="btn btn-secondary cta-compare-btn">Compare our offers</button>
    </div>
</div>