:host {
  display: block;
  height: 100vh;
  width: 100%;
}

.header-main {
  width: 100%;
  background-color: var(--white-color);
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-content {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* Allow content scrolling */
}

/* Ensure router-outlet content fills space */
.layout-content>router-outlet+* {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
}

.app-scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  border: none;
  outline: none;
  background-color: var(--button-color);
  color: var(--white-color);
  /* cursor: pointer; */
  padding: 10px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  border: 2px solid var(--button-color);

  &:hover {
    background-color: var(--button-hover);
    transform: translateY(-2px);
    color: var(--button-color);
  }

  &:active {
    transform: translateY(0);
  }
}