.app-footer {
    padding: 60px 20px;
    border-top: 1px solid var(--border-color);
    background-color: #e8fedf;
}

.transfer-link {
    /* cursor: pointer; */
}

.footer-content {
    justify-content: space-between;
}

.footer-copyright {
    border-top: 1px solid var(--border-color);
}

.footer-copyright p {
    margin-top: 30px;
}

.footer-rights {
    text-align: end;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 992px) {
    .footer-links h4 {
        font-size: 20px;
    }

    .footer-copyright p {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .footer-copyright {
        flex-direction: column;
    }

    .footer-rights {
        text-align: center;
    }

    .footer-copyright p {
        margin-top: 0px;
    }

    .footer-text {
        text-align: center;
        margin-top: 30px;
    }

    .footer-content {
        gap: 30px;
        margin-bottom: 20px;
    }
}