/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
    font-family:  Poppins, arial, sans-serif;
}

a {
    text-decoration: none;
}

a:active {
    border: none;
}

:root {
    --background: #000080;
    /* --background: #272757; */
    --background-hover: #2a52be;
    --button-color: #3e57da;
    --button-hover:#1f235b;
    --border: #9d9d9d;
    --black-color: #000;
    --white-color: #fff;
    --background-color: #f4f4f4;
    --border-color: #e0e0e0;
    --heading-color: #333;
    --delete-color: #dc3545;
    --theme-border-color-r: 227;
    --theme-border-color-g: 104;
    --theme-border-color-b: 18;
}